<div class="modal fade" id="beforeActionConfirmationModal" tabindex="-1" style="color:#949494;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border:none" aria-describedby="beforeActionModalHeaderText" tabindex="0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close Popup">&times;</button>
                <h3 class="modal-title text-center" id="beforeActionModalHeaderText" style="font-weight: bold; color:#000000">None</h3>
            </div>
            <div class="modal-body" aria-describedby="beforeActionModalBodyText" tabindex="0">
                <h4 class="text-center" id="beforeActionModalBodyText" style="color:#000000">None</h4>
            </div>
            <div class="modal-footer" style="border:none; text-align:center;">
                <button id="YescreateUserModalSaveBtn" type="button" class="button-custom-save" onfocus="javascript:focusgain('YescreateUserModalSaveBtn', '#da9a00');" onfocusout="javascript:focuslost('YescreateUserModalSaveBtn', '#000000');" style="width:120px;" aria-haspopup="true"><b>Yes</b></button>
                <button data-dismiss="modal" type="button" class="button-custom-reset" id="NocreateUserModalSaveBtn" onfocus="javascript:focusgain('NocreateUserModalSaveBtn', '#da9a00');" onfocusout="javascript:focuslost('NocreateUserModalSaveBtn', '#a9a9a9');" style="width:120px; background-color:darkgray;"><b>No</b></button>
            </div>
        </div>
    </div>
</div>